/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	text-align: center;
	/*flex: auto;*/
}

.tym {
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-basis: calc(98% / 4);
/*column-gap: 1vw;
row-gap: 1vw;*/
grid-column: auto;
grid-row: auto;
align-content: space-evenly;
justify-content: center;
}

.osoba {
	display: flex;
	flex-basis: calc(100% - 25px);
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid rgba(128, 128, 128, 0.425);
	border-radius: 10px;
	box-shadow: 3px 2px 7px rgba(128, 128, 128, 0.425);
	margin:5px;
	padding: 5px;
}

.popis {
	text-align: center;
}

.foto {
	border-radius: 50%;
}





/*-----------------------------------------------------------*/

/*@media screen and (min-width: 0px) and (max-width:540px) {
	.osoba {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		flex-basis: calc(100% - 25px);
		flex-wrap: wrap;
		}

	.tym {
		flex-wrap: wrap;
	}
	}*/

@media screen and (min-width: 540px) and (max-width: 960px) {

	.osoba {
		display: flex;
		flex-direction: row;
		flex-basis: calc(50% - 15px);	
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		}

	.tym {
		display: flex;	
		flex-wrap: wrap;
		}

	.popis {
		text-align: left;
		padding-left: 10px;
		}
	}

@media screen and (min-width: 960px) and (max-width: 100%){
	.kontakty {
		display: flex;
	}
	.tym {
		flex-direction: row;
	}			
	}

