/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	text-align: center;
	/*flex: auto;*/
}

.tym {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
flex-basis: calc(98% / 4);
column-gap: 1vw;
row-gap: 1vw;
grid-column: auto;
align-content: space-evenly;
}

.osoba {
	display: flex;
	flex-basis: calc(98% / 4);
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border: 0.1px solid rgba(128, 128, 128, 0.425);
	border-radius: 10px;
	box-shadow: 3px 2px 7px rgba(128, 128, 128, 0.425);
	padding: 1vw;
}

.popis {text-align: center;
}

.foto {border-radius: 50%;}




/*-----------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width:600px) {
	.osoba {
		display: flex;
		flex-direction: column;
		width: calc(98% / 4);
		justify-content: space-evenly;
		flex-basis: calc(98% / 1);
		flex-wrap: wrap;
		}

	.tym {
		flex-wrap: wrap;
	}
	}

@media screen and (min-width: 600px) and (max-width: 1020px) {
	.osoba {
		display: flex;
		flex-direction: row;
		width: calc(98% / 2);
		justify-content: space-evenly;
		flex-basis: calc(98% / 2);
		}

	.tym {flex-wrap: wrap;}
	}

@media screen and (min-width: 1020px) and (max-width: 1900px){
		.osoba {
			display: flex;
			flex-direction: row;
			width: calc(98% / 1);
			justify-content: space-evenly;
		}
		.tym {
			flex-wrap: nowrap;
			position: relative;}
	}